# 구구단 출력하기
> 2단부터 9단까지 반복문을 사용하여 구구단을 출력하세요.
---
```
예시 출력)
------- [2 단] -------
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

------- [3 단] -------
...
```

In [ ]:
# 아래에 코드를 작성하세요.

In [13]:
for i in range(2,10):
    print('------- [{} 단] -------'.format(i))
    for k in range(1,10):
        print('{} X {} = {}'.format(i,k,i*k))
    print('')

------- [2 단] -------
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

------- [3 단] -------
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

------- [4 단] -------
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

------- [5 단] -------
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

------- [6 단] -------
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54

------- [7 단] -------
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

------- [8 단] -------
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

------- [9 단] -------
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

# 달력 출력하기

> 1월 1일 월요일부터 12월 31일까지 달력을 출력하세요.

---
```
예시 출력)
         1 월
Mo Tu We Th Fr Sa Su 
 1  2  3  4  5  6  7 
 8  9 10 11 12 13 14 
15 16 17 18 19 20 21 
22 23 24 25 26 27 28 
29 30 31 
         2 월
Mo Tu We Th Fr Sa Su 
 1  2  3  4  5  6  7 
 8  9 10 11 12 13 14 
15 16 17 18 19 20 21 
22 23 24 25 26 27 28 

         3 월
Mo Tu We Th Fr Sa Su 
 1  2  3  4  5  6  7 
 8  9 10 11 12 13 14 
15 16 17 18 19 20 21 
22 23 24 25 26 27 28 
29 30 31
...
```

In [15]:
calendar = { 
        1: 31, 2: 28, 3: 31, 4: 30, 5: 31,6: 30, 
        7: 31, 8: 31, 9: 30, 10: 31, 11: 30, 12: 31 
} 
weeks = ['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su'] 

# 아래에 코드를 작성하세요.

In [17]:
for m, d in calendar.items():
    count = 0
    print('\n\n\t {}월'.format(m))
    for w in weeks:
        print(w, end=' ')
    print('')
    for d_d in range(1,d+1):
        print('%2d '%d_d, end = '')
        count += 1
        if count%7 ==0:
            print('')
            count = 0

	 1월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

	 2월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28


	 3월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

	 4월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

	 5월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

	 6월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

	 7월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

	 8월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

	 9월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

	 10월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

	 11월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

	 12월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

In [26]:
for month, day_count in calendar.items():
    count = 0
    print(f'{month:10}월')
    for day in weeks:
        print(f'{day}', end=' ')
    print()
    
    for i in range(1, day_count + 1):
        print(f'{i:2}', end =' ')
        count +=1
        if count%7 == 0:
            print()
    print()

         1월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31
         2월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28

         3월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31
         4월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30
         5월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31
         6월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30
         7월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31
         8월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31
         9월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30
        10월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31
        11월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30
        12월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

# 개인정보보호
> 사용자의 핸드폰번호를 입력 받고, 개인정보 보호를 위하여 뒷자리 4자리를 제외하고는 마스킹 처리하세요.
> * 핸드폰번호는 010으로 시작해야하고 11자리여야한다.
> * 핸드폰번호를 입력하지 않았다면 "핸드폰번호를 입력하세요"를 출력한다.

---

```
예시 입력)
01012341234

예시 출력)
*******1234
```

In [ ]:
# 아래에 코드를 작성하세요.

In [2]:
number = input()

count = 0

for i in number:
    if count < 7:
        print('*', end = '')
    else:
        print(i, end ='')
    count += 1

01012341234
*******1234

In [28]:
phone_number = input()

if len(phone_number) == 11 and phone_number[:3] == '010':
    result = '*' * 7 + phone_number[-4:]
    print(result)
else:
    print('핸드폰번호를 입력하세요.')

01012341234
*******1234

# 정중앙
> 사용자가 입력한 문자열중 가운데 글자를 출력하세요. 
>
> 단, 문자열이 짝수라면 가운데 두글자를 출력하세요.

---

```
예시 입력)
abc

예시 출력)
b
```

In [ ]:
# 아래에 코드를 작성하세요.

In [6]:
word = input()
l = len(word)

if l % 2:
    print(word[l//2])
else:
    print(word[l//2-1], word[l//2])

abc
b

In [30]:
word = input()
l = len(word)

if l % 2:
    middle = word[l//2]
else:
    middle = word[l//2-1:l//2+1]
print(middle)

saag
aa

# 소수 찾기

> 조건, 반복문을 응용하여 numbers 리스트의 요소들이 소수인지 아닌지 판단하는 코드를 작성하세요.

---

예시)

```python
numbers = [26, 39, 51, 53, 57, 79, 85]

26 는 소수가 아닙니다. 2 는 26 의 인수입니다.
39 는 소수가 아닙니다. 3 는 39 의 인수입니다.
51 는 소수가 아닙니다. 3 는 51 의 인수입니다.
53 는 소수입니다.
57 는 소수가 아닙니다. 3 는 57 의 인수입니다.
79 는 소수입니다.
85 는 소수가 아닙니다. 5 는 85 의 인수입니다.
```

In [12]:
numbers = [26, 39, 51, 53, 57, 79, 85]
k = 0

# 아래에 코드를 작성하세요.

for num in numbers:
    k = 0
    for n in range(2,num):
        if num%n == 0:
            k = 1
            break
    if k == 1:
        print('{}는 소수가 아닙니다. {}는 {}의 인수입니다.'.format(num,n,num))
    if k == 0:
        print('{}는 소수입니다.'.format(num))

26는 소수가 아닙니다. 2는 26의 인수입니다.
39는 소수가 아닙니다. 3는 39의 인수입니다.
51는 소수가 아닙니다. 3는 51의 인수입니다.
53는 소수입니다.
57는 소수가 아닙니다. 3는 57의 인수입니다.
79는 소수입니다.
85는 소수가 아닙니다. 5는 85의 인수입니다.

In [34]:
numbers = [26, 39, 51, 53, 57, 79, 85]

for number in numbers:
    for x in range(2,number):
        if number % x == 0:
            print(f'{number}는 소수가 아닙니다. {x}는 {number}의 인수입니다.')
            break
    else:
        print(f'{number}는 소수입니다.')

26는 소수가 아닙니다. 2는 26의 인수입니다.
39는 소수가 아닙니다. 3는 39의 인수입니다.
51는 소수가 아닙니다. 3는 51의 인수입니다.
53는 소수입니다.
57는 소수가 아닙니다. 3는 57의 인수입니다.
79는 소수입니다.
85는 소수가 아닙니다. 5는 85의 인수입니다.