# 문자열 메소드 활용하기

## 변형

### `.capitalize()`, `.title()`, `.upper()`

* `.capitalize()` : 앞글자를 대문자로 만들어 반환한다. 나머지는 다 소문자로 바뀐다.

* `.title()` : 어포스트로피나 공백 이후를 대문자로 만들어 반환한다.

* `.upper()` : 모두 대문자로 만들어 반환한다.

In [1]:
a = 'hI! Everyone, I\'m kim'

# 아래에 코드를 작성하세요.

In [5]:
print(a.capitalize())
print(a.title())
print(a.upper())

Hi! everyone, i'm kim
Hi! Everyone, I'M Kim
HI! EVERYONE, I'M KIM

### `.lower()`, `.swapcase()`

* `lower()` : 모두 소문자로 만들어 반환한다.

* `swapcase()` : 대 <-> 소문자로 변경하여 반환한다.

In [7]:
a = 'hI! Everyone, I\'m kim'

# 아래에 코드를 작성하세요.

In [8]:
print(a.lower())
print(a.swapcase())

hi! everyone, i'm kim
Hi! eVERYONE, i'M KIM

### `.join(iterable)`

특정한 문자열로 만들어 반환합니다.

**Iterable** 을 해당 문자열을 separator 로 합쳐서 문자열로 반환합니다.

> `iterable`
>
> 각각의 요소를 하나씩 반환할 수 있는 객체를 말한다. List와 Tuple, Dictionary와 Set 등이 여기에 속한다. ('String')

In [9]:
word = '배고파'
words = ['안녕', 'hello']

# 아래에 코드를 작성하세요.

In [11]:
'!'.join(word)

'배!고!파'

In [12]:
' '.join(words)

'안녕 hello'

### `.replace(old, new[, count])`

바꿀 대상 글자를 새로운 글자로 바꿔서 반환합니다. 

count를 지정하면 해당 갯수만큼만 시행합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [13]:
'Yay!'.replace('a', '_')

'Y_y!'

In [14]:
'woowoowoowoo'.replace('o','',2)

'wwoowoowoo'

### `.strip([chars])`

특정한 문자들을 지정하면,  양쪽을 제거하거나 왼쪽을 제거하거나(lstrip), 오른쪽을 제거합니다(rstrip).

지정하지 않으면 **공백을 제거합니다.**

In [ ]:
# 아래에 코드를 작성하세요.

In [16]:
'          oh! 배고프당\n     '.strip()

'oh! 배고프당'

In [17]:
'          아 진짜 배고프다.      '.lstrip()

'아 진짜 배고프다.      '

In [18]:
'          아 진짜 배고프다.      '.rstrip()

'          아 진짜 배고프다.'

## 탐색 및 검증

### `.find(x)` 

x의 첫 번째 위치를 반환합니다. 없으면, -1을 반환합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [25]:
print('apple'.find('a')+1,'번째')

1 번째

In [26]:
'apple'.find('f')

-1

### `.index(x)`

x의 첫번째 위치를 반환합니다. 없으면, 오류가 발생합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [29]:
'apple'.index('l')

3

In [28]:
'apple'.index('p')

1

In [30]:
'apple'.index('f')

ValueError: substring not found

## `.split()`

문자열을 특정한 단위로 나누어 리스트로 반환합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [35]:
'a b c'.split(' ')
# default 값

['a', 'b', 'c']

In [37]:
'a_b_c'.split('_')

['a', 'b', 'c']

## 다양한 확인 메소드 : 참/거짓 반환
```
.isalpha(), .isdecimal(), .isdigit(), .isnumeric(), .isspace(), .isupper(), .istitle(), .islower()
```

In [38]:
# 다음 명령어로 문자열 메소드를 확인할 수 있습니다.
dir('example')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# 리스트 메소드 활용하기

## 값 추가 및 삭제

### `.append(x)`

리스트에 값을 추가할 수 있습니다.

In [48]:
# 카페 리스트를 만들어봅시다.
cafe = ['starbucks', 'tomntoms', 'hollys']

In [41]:
# 값을 추가해봅시다.

In [49]:
cafe.append('bana presso')
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'bana presso']

### `.extend(iterable)`

리스트에 iterable(list, range, tuple, string*유의*) 값을 붙일 수가 있습니다.

In [ ]:
# 앞서 만든 리스트에 추가해봅시다.

In [43]:
[1,2,3].extend([4,5,6])

# [1,2,3] + [4,5,6] 같은것

In [44]:
numbers = [1, 2, 3]
numbers.extend([4, 5, 6])
# return 값이 없고 원본을 조작한다.
# +로 쓰면 원본 조작 없어서 좋다.

In [ ]:
# 앞서 배운 list concatenate와 동일합니다.

In [50]:
cafe += ['w cafe', 'coffee bean']

print(cafe)

['starbucks', 'tomntoms', 'hollys', 'bana presso', 'w cafe', 'coffee bean']

In [ ]:
# append와 비교해봅시다.

In [51]:
cafe.append(['cofeenie'])
print(cafe)
print('----')

cafe.extend('빽다방')
print(cafe)
print('----')

cafe.extend(['coffine gurunaru'])
print(cafe)
print('----')

['starbucks', 'tomntoms', 'hollys', 'bana presso', 'w cafe', 'coffee bean', ['cofeenie']]
----
['starbucks', 'tomntoms', 'hollys', 'bana presso', 'w cafe', 'coffee bean', ['cofeenie'], '빽', '다', '방']
----
['starbucks', 'tomntoms', 'hollys', 'bana presso', 'w cafe', 'coffee bean', ['cofeenie'], '빽', '다', '방', 'coffine gurunaru']
----

### `.insert(i, x)`

정해진 위치 `i`에 값을 추가합니다.

In [ ]:
# 앞서 만든 리스트의 가장 앞에 'hi'를 넣어봅시다.

In [52]:
cafe.insert(0, '맥커피')
print(cafe)
# 원래 있던건 그대로인데 한칸씩 밀린다!

['맥커피', 'starbucks', 'tomntoms', 'hollys', 'bana presso', 'w cafe', 'coffee bean', ['cofeenie'], '빽', '다', '방', 'coffine gurunaru']

In [ ]:
# 앞서 만든 리스트의 가장 뒤에 'bye'를 넣어봅시다

In [53]:
cafe.insert(-1, '커피 비엔나')

print(cafe)

['맥커피', 'starbucks', 'tomntoms', 'hollys', 'bana presso', 'w cafe', 'coffee bean', ['cofeenie'], '빽', '다', '방', '커피 비엔나', 'coffine gurunaru']

In [54]:
cafe.insert(len(cafe), '카페 파스쿠치')
print(cafe)

['맥커피', 'starbucks', 'tomntoms', 'hollys', 'bana presso', 'w cafe', 'coffee bean', ['cofeenie'], '빽', '다', '방', '커피 비엔나', 'coffine gurunaru', '카페 파스쿠치']

In [ ]:
# 리스트의 길이를 넘어서는 인덱스는 마지막에 아이템이 추가됩니다.

In [55]:
cafe.insert(len(cafe)+100, '투썸 플레이스')
print(cafe)

['맥커피', 'starbucks', 'tomntoms', 'hollys', 'bana presso', 'w cafe', 'coffee bean', ['cofeenie'], '빽', '다', '방', '커피 비엔나', 'coffine gurunaru', '카페 파스쿠치', '투썸 플레이스']

### `.remove(x)`

리스트에서 값이 x인 것을 삭제합니다.

In [56]:
# remove를 사용해봅시다.
numbers = [1, 2, 3, 1, 2]

In [ ]:
# 중복된 값 1을 삭제 해봅시다.

In [57]:
numbers.remove(1)
print(numbers)

[2, 3, 1, 2]

In [ ]:
# 한번 더 삭제해봅시다.

In [58]:
numbers.remove(1)
print(numbers)

[2, 3, 2]

In [ ]:
# remove는 값이 없으면 오류가 발생합니다. 확인해봅시다.

In [59]:
numbers.remove(1)
print(numbers)

ValueError: list.remove(x): x not in list

In [61]:
print(numbers.count(2))

for _ in range(numbers.count(2)):
    numbers.remove(2)

print(numbers)

2
[3]

### `.pop(i)`

정해진 위치 `i`에 있는 값을 삭제하며, 그 항목을 반환합니다.

`i`가 지정되지 않으면 마지막 항목을 삭제하고 되돌려줍니다.

In [75]:
# pop을 사용해봅시다.
a = [1, 2, 3, 4, 5, 6]
a.pop(2)

3

In [70]:
print(a)

[1, 2, 4, 5, 6]

In [63]:
# 가장 앞에 있는 것을 삭제해봅시다. return도 확인해보세요.

In [66]:
print(a.pop())
print(a)

5
[1, 2, 3, 4]

In [ ]:
# 값이 return이 된다는 것은 별도의 변수에 저장할 수 있다는 것입니다.

In [76]:
print(a)
deleted_value = a.pop()
print(f'{deleted_value}가 삭제되어 {a}가 되었습니다.')

[1, 2, 4, 5, 6]
6가 삭제되어 [1, 2, 4, 5]가 되었습니다.

### `.clear()`

리스트의 모든 항목을 삭제합니다.

In [ ]:
# clear를 사용해봅시다.

In [71]:
print(a)
a.clear()
print(a)

[1, 2, 4, 5, 6]
[]

## 탐색 및 정렬

### `.index(x)`

x 값을 찾아 해당 index 값을 반환합니다.

In [73]:
# index를 사용해봅시다.
a = [1, 2, 3, 4, 5]

In [74]:
a.index(3)

2

In [77]:
# index는 없을 시 오류가 발생합니다. 확인해봅시다. 
# 앞서 remove 역시도 같은 에러가 발생하였습니다. (ValueError)
a.index(10)

ValueError: 10 is not in list

In [78]:
a.find(3)

AttributeError: 'list' object has no attribute 'find'

### `.count(x)`

원하는 값의 개수를 확인할 수 있습니다.

In [80]:
# count를 사용해봅시다.
a = [1, 2, 5, 1, 5, 1]

In [81]:
a.count(1)

3

In [ ]:
# 따라서 원하는 값을 모두 삭제하려면 다음과 같이 할 수 있습니다.

In [82]:
for _ in range(a.count(1)):
    a.remove(1)
print(a)

[2, 5, 5]

In [ ]:
# 모두 삭제되었는지 검증해봅시다.

### `.sort()`

정렬을 합니다. 

내장함수 `sorted()` 와는 다르게 **원본 list를 변형**시키고, **None**을 리턴합니다.

In [83]:
import random
lotto = random.sample(range(1, 46), 6)
print(lotto)

[33, 8, 28, 19, 44, 39]

In [85]:
# sort() 를 사용해봅시다.

# lotto.sort()
# print(lotto)

sorted(lotto)

[8, 19, 28, 33, 39, 44]

### `.reverse()`

반대로 뒤집습니다. **(정렬 아님)**

In [88]:
classroom = ['Tom', 'David', 'Justin']
print(classroom)

['Tom', 'David', 'Justin']

In [87]:
# 원본 변형

classroom.reverse()
print(classroom)

['Justin', 'David', 'Tom']

In [91]:
#원본 유지

list(reversed(classroom))

['Justin', 'David', 'Tom']

## 복사

In [93]:
# 리스트 복사를 해봅시다.
original_list = [1, 2, 3]

In [94]:
copy_list = original_list
print(copy_list)

[1, 2, 3]

In [ ]:
# copy_list의 값을 바꾸고 original_list를 출력해봅시다.

In [95]:
copy_list[0] = 5
print(copy_list)

print(original_list)

[5, 2, 3]
[5, 2, 3]

In [ ]:
# id 값을 확인해봅시다.

In [96]:
print(id(copy_list))
print(id(original_list))

1901479655624
1901479655624

In [97]:
# 독립적인 복사본 만들기

original_list = [1, 2, 3]
copy_list = original_list[:]
copy_list[0] = 5

print(original_list)

[1, 2, 3]

In [ ]:
# 숫자를 확인해봅시다.

In [98]:
original_number = 3
copy_number = original_number

original_number = 5
print(copy_number)

3

In [ ]:
# 딕셔너리도 확인해봅시다.

In [99]:
lunch = {'김밥천국':'참치김밥','양자강':'차돌짬뽕'}
dinner = lunch

dinner['김밥천국'] = '치즈라면'
print(lunch)

{'김밥천국': '치즈라면', '양자강': '차돌짬뽕'}

**mutable은 주소값이 복사되고,
immutable은 값이 복사된다.**

### copy
> 위 코드를 [pythontutor](http://pythontutor.com/) 를 활용하여 자세하게 알아봅시다.

* 파이썬에서 모든 변수는 **객체의 주소**를 가지고 있을 뿐이다. 

```
num = [1, 2, 3]
```

* 위와 같이 변수를 생성하면 `[1, 2, 3]` 이라는 객체를 생성하고, 변수에는 객체의 주소가 저장된다.

* 변경가능한(mutable) 자료형과 변경불가능한(immutable) 자료형은 서로 다르게 동작한다.

따라서, 복사를 하고 싶을 때에는 다음과 같이 해야합니다.

In [ ]:
# 리스트를 복사해봅시다.

In [100]:
a = [1, 2, 3]
b = a[:]

b[0] = 5
print(a)

[1, 2, 3]

In [ ]:
# 다른 방법으로 복사해봅시다.

In [101]:
a = [1,2,3]
b = list(a)

b[0] = 5
print(a)

[1, 2, 3]

In [ ]:
#또 다른 방법으로 복사해봅니다.
import copy

copy.copy(a)

* 하지만, 이렇게 하는 것도 일부 상황에만 서로 `다른 얕은 복사(shallow copy)`이다.

In [ ]:
# 2차원 배열을 복사해봅시다.

In [104]:
a = [1, 2, [3, 4]]
b = a[:]

# 얕은 복사이기 때문
b[2][0] = 99
print(a)

b[0] = 24
print(a)
print(b)

[1, 2, [99, 4]]
[1, 2, [99, 4]]
[24, 2, [99, 4]]

* 만일 중첩된 상황에서 복사를 하고 싶다면, `깊은 복사(deep copy)`를 해야한다. 

* 즉, 내부에 있는 모든 객체까지 새롭게 값이 변경된다.

In [ ]:
# 깊은 복사를 사용해봅시다.

In [105]:
import copy

# copy.deepcopy(복사할 대상)  => deepcopy 결과물

a = [1, 2, [3, 4]]
b = copy.deepcopy(a)

b[2][0] = 99
print(a)

b[0] = 24
print(a)
print(b)

[1, 2, [3, 4]]
[1, 2, [3, 4]]
[24, 2, [99, 4]]

In [111]:
# 딕셔너리 copy 해보기

a = {1: 2, 2 : [3, 4]}
b = dict(a)

b[2][0] = 99
print(a)

b[1] = 24
print(a)
print(b)

{1: 2, 2: [99, 4]}
{1: 2, 2: [99, 4]}
{1: 24, 2: [99, 4]}

In [ ]:
# 딕셔너리 deepcopy 해보기

## List Comprehension

List Comprehension은 리스트안에 식, for 문을 지정합니다.
여러 줄의 코드를 한 줄로 줄일 수 있습니다.

---

**활용법**

```python
[식 for 변수 in iterable]

list(식 for 변수 in iterable)
```

### 세제곱 리스트

> 다음의 리스트를 작성하세요.
- 1~10까지의 숫자로 만든 세제곱 담긴 리스트 `cubic_list`

In [114]:
a = range(1, 11)
b = []
for n in a:
    b.append(n)
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [119]:
a = range(1, 11)

b = [n for n in a]
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# 반복문을 활용하여 만들어주세요.

In [115]:
a = range(1, 11)
cubic_list = []
for n in a:
    cubic_list.append(n ** 3)

print(cubic_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
# List Comprehension

In [117]:
cubic_list = [n**3 for n in a]
print(cubic_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

## List Comprehension + 조건문

조건문에 참인 식으로 리스트를 생성합니다.

---

**활용법**

```python
[식 for 변수 in iterable if 조건식]

[식 if 조건식 else 식 for 변수 in iterable]

# elif 는 다음과 같이 사용해야 합니다. (if else 열거)
[식 if 조건식 else 식 if 조건식 else 식 if ... else ... for 변수 in iterable]
```

### 짝수리스트
> 다음의 리스트를 작성하세요.

- 1~10까지의 숫자중 짝수만 담긴 리스트 `even_list`
- 여러개의 `for` 혹은 `if`문을 중첩적으로 사용 가능합니다.

In [ ]:
# 반복문을 활용하여 만들어주세요.

In [120]:
even_list = []
for n in range(1,11):
    if not n%2:
        even_list.append(n)
print(even_list)

[2, 4, 6, 8, 10]

In [ ]:
# List Comprehension

In [122]:
even_list = [n for n in range(1,11) if not n % 2]
print(even_list)

[2, 4, 6, 8, 10]

### 곱집합

> 주어진 두 list의 가능한 모든 조합을 담은 `pair` 리스트를 작성하세요.
1. 반복문 활용
2. list comprehension 활용

```python
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']
```

---

```
예시 출력)    
[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]
```

In [123]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [ ]:
# 반복문을 활용하여 작성하세요.

In [148]:
pair = []
for boy in boys:
    for girl in girls:
        pair.append((boy,girl))
print(pair)

[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]

In [ ]:
# List comprehension을 활용하여 작성하세요.

In [149]:
pair = [(boy,girl) for boy in boys for girl in girls]
print(pair)

[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]

In [153]:
from itertools import product

girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

pair = product(boys, girls)
print(list(pair))

[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]

### 피타고라스 정리

> 주어진 조건(x < y < z < 50) 내에서 피타고라스 방정식의 정수해를 찾으세요.
1. 반복문 활용
2. list comprehension 활용

---

```
예시 출력)
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]
```

In [ ]:
# 반복문을 활용하여 작성하세요.

In [157]:
result = []
for x in range(1,50):
    for y in range(1,50):
        for z in range(1,50):
            if x**2 + y**2 == z**2:
                result.append((x,y,z))
print(result)

[(3, 4, 5), (4, 3, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 6, 10), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 5, 13), (12, 9, 15), (12, 16, 20), (12, 35, 37), (15, 8, 17), (15, 20, 25), (15, 36, 39), (16, 12, 20), (16, 30, 34), (18, 24, 30), (20, 15, 25), (20, 21, 29), (21, 20, 29), (21, 28, 35), (24, 7, 25), (24, 10, 26), (24, 18, 30), (24, 32, 40), (27, 36, 45), (28, 21, 35), (30, 16, 34), (32, 24, 40), (35, 12, 37), (36, 15, 39), (36, 27, 45), (40, 9, 41)]

In [158]:
result = []
for x in range(1,50):
    for y in range(x,50):
        for z in range(y,50):
            if x**2 + y**2 == z**2:
                result.append((x,y,z))
print(result)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

In [151]:
result = []
for z in range(1,50):
    for y in range(1,z):
        for x in range(1,y):
            if x**2 + y**2 == z**2:
                result.append((x,y,z))
print(result)

[(3, 4, 5), (6, 8, 10), (5, 12, 13), (9, 12, 15), (8, 15, 17), (12, 16, 20), (15, 20, 25), (7, 24, 25), (10, 24, 26), (20, 21, 29), (18, 24, 30), (16, 30, 34), (21, 28, 35), (12, 35, 37), (15, 36, 39), (24, 32, 40), (9, 40, 41), (27, 36, 45)]

In [ ]:
# List comprehension을 활용하여 작성하세요.

In [136]:
result = [(x,y,z) for z in range(50) for y in range(z) for x in range(y) if x**2 + y**2 == z**2]
print(result)

[(3, 4, 5), (6, 8, 10), (5, 12, 13), (9, 12, 15), (8, 15, 17), (12, 16, 20), (15, 20, 25), (7, 24, 25), (10, 24, 26), (20, 21, 29), (18, 24, 30), (16, 30, 34), (21, 28, 35), (12, 35, 37), (15, 36, 39), (24, 32, 40), (9, 40, 41), (27, 36, 45)]

In [162]:
result = [(x,y,z) for x in range(1,50) for y in range(x,50) for z in range(y,50) if x**2 + y**2 == z**2]
print(result)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

### 모음 제거하기

> 다음의 문장에서 모음(a, e, i, o, u)를 모두 제거하세요.

```python
words = 'Life is too short, you need python!'
```

---

```
예시 출력)
Lf s t shrt, y nd pythn!
```

In [163]:
words = 'Life is too short, you need python!'

In [164]:
# 반복문을 활용하여 작성하세요.

In [165]:
v = 'aeiou'
final = ''
for w in words:
    if w not in v:
        final += w
print(final)

Lf s t shrt, y nd pythn!

In [167]:
result = []
for char in words:
    if char not in 'aeiou':
        result.append(char)

print(''.join(result))

Lf s t shrt, y nd pythn!

In [ ]:
# List comprehension을 활용하여 작성하세요.

In [147]:
final = [w for w in words if w not in v]
print(''.join(final))

Lf s t shrt, y nd pythn!

In [170]:
print(''.join([char for char in words if char not in 'aeiou']))

Lf s t shrt, y nd pythn!

# 딕셔너리 메소드 활용

## 추가 및 삭제

### `.pop(key[, default])`

key가 딕셔너리에 있으면 제거하고 그 값을 돌려줍니다. 그렇지 않으면 default를 반환합니다.

default가 없는 상태에서 딕셔너리에 없으면 KeyError가 발생합니다.

In [175]:
# pop을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나'}

In [177]:
my_dict.pop('banana')
print(my_dict)

{}

In [ ]:
# 딕셔너리에 없으면 에러가 발생합니다.

In [178]:
print(my_dict)

my_dict.pop('apple')

{}

KeyError: 'apple'

In [ ]:
# 두번째 인자로 default를 설정할 수 있습니다.

In [181]:
my_dict.pop('apple', None)

### `.update()`

값을 제공하는 key, value로 덮어씁니다.

In [182]:
# update를 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}

In [183]:
my_dict['banana'] = '버내너'
print(my_dict)

{'apple': '사과', 'banana': '버내너', 'melon': '멜론'}

In [280]:
my_dict.update(banana = '바나나나나나나나나나')
print(my_dict)

{'apple': '사과', 'banana': '바나나나나나나나나나', 'melon': '멜론'}

In [283]:
my_dict['banana'] = '바나'
print(my_dict)

{'apple': '사과', 'banana': '바나', 'melon': '멜론'}

### `.get(key[, default])`

key를 통해 value를 가져옵니다. 

절대로 KeyError가 발생하지 않습니다. default는 기본적으로 None입니다.

In [188]:
# get을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}
my_dict['pineapple']

KeyError: 'pineapple'

In [191]:
# default값 설정할 수 있다.

print(my_dict.get('pineapple', 0))

0

## Dictionary comprehension

dictionary도 comprehension을 활용하여 만들 수 있습니다. 

---

**활용법**

```python
{키: 값 for 키, 값 in 딕셔너리}

dict({키: 값 for 키, 값 in 딕셔너리})

{키: 값 for 키, 값 in 딕셔너리 if 조건식}

{키: 값 if 조건식 else 값 for 키, 값 in 딕셔너리}

```

In [ ]:
# dictionary comprehension

In [193]:
# {1:1, 2:8, 3:27, ...}

cubic = {num: num**3 for num in range(1,11)}
print(cubic)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

### Dictionary comprehension 사용해보기

In [195]:
dusts = {'서울': 72, '대전': 82, '구미': 29, '광주': 45, '중국': 200}

In [ ]:
# 미세먼지 농도가 80 초과 지역만 뽑아주세요.
# 예) {'대전': 82, '중국': 200}

In [197]:
hell = {}

for key, value in dusts.items():
    if value > 80:
        hell[key] = value

print(hell)

{'대전': 82, '중국': 200}

In [201]:
result = {key:value for key, value in dusts.items() if value>80}
print(result)

{'대전': 82, '중국': 200}

In [ ]:
# 미세먼지 농도가 80초과는 나쁨 80이하는 보통으로 하는 value를 가지도록 바꾸세요.

In [204]:
result = {}

for key, value in dusts.items():
    if value > 80:
        result[key] = '나쁨'
    else:
        result[key] = '좋음'

print(result)

{'서울': '좋음', '대전': '나쁨', '구미': '좋음', '광주': '좋음', '중국': '나쁨'}

In [205]:
result =  {key: '나쁨' if value > 80 else '좋음' for key, value in dusts.items()}

print(result)

{'서울': '좋음', '대전': '나쁨', '구미': '좋음', '광주': '좋음', '중국': '나쁨'}

In [ ]:
# elif 도 사용할 수 있습니다. (if else 열거)

In [207]:
result = {key: '매우나쁨' if value > 150 else '나쁨' if value > 80 else '보통' if value > 30 else '좋음' for key, value in dusts.items()}

print(result)

{'서울': '보통', '대전': '나쁨', '구미': '좋음', '광주': '보통', '중국': '매우나쁨'}

# 세트 메소드 활용

## 추가 및 삭제

### `.add(elem)`
elem을 세트에 추가합니다.

In [208]:
# add를 사용해봅시다.
a = {'사과', '바나나', '수박'}

In [209]:
a.add('포도')
a.add('포도')
print(a)

{'포도', '수박', '바나나', '사과'}

### `.update(*others)`

여러가지의 값을 추가합니다.

여기서 반드시 iterable한 값을 넣어야합니다.

In [213]:
# update를 사용해봅시다.
a = {'사과', '바나나', '수박'}

In [214]:
# a.update('아보카도', '딸기', '천혜향')
# print(a)
# 묶어줘야 된다.
a.update({'아보카도', '딸기', '천혜향'})
print(a)

{'수박', '바나나', '딸기', '천혜향', '아보카도', '사과'}

### `.remove(elem)`

elem을 세트에서 삭제하고, 없으면 KeyError가 발생합니다.

In [218]:
# remove를 사용해봅시다.
a = {'사과', '바나나', '수박'}

In [219]:
a.remove('바나나')
print(a)

{'수박', '사과'}

### `.discard(elem)`
x를 세트에서 삭제하고 없어도 에러가 발생하지 않습니다.

In [223]:
# discard를 사용해봅시다.
a = {'사과', '바나나', '수박'}

In [226]:
a.discard('바나나')
print(a)

{'수박', '사과'}

### `.pop()`

**임의의 원소**를 제거해 반환합니다.

In [241]:
# pop을 사용해봅시다.
a = {'사과', '바나나', '수박', '아보카도'}

In [242]:
print(a.pop())
print(a)

아보카도
{'수박', '바나나', '사과'}

#  `map()`, `zip()`, `filter()`

## `map(function이름, iterable)`

* Iterable의 모든 요소에 function을 적용한 후 그 결과를 돌려준다. 


* 대표적으로 iterable한 타입 - list, dict, set, str, bytes, tuple, range


* return은 `map_object` 형태이다. -> 리스트로 형변환 해줘야 한다.

In [246]:
numbers = [1, 2, 3]

# 위의 코드를 문자열 '123'으로 만드세요

In [243]:
# join() -> X => for를 통한 구현

In [247]:
chars = []
for number in numbers:
    chars.append(str(number))
print(chars)
print(''.join(chars))

['1', '2', '3']
123

In [ ]:
# list comprehension

In [248]:
chars = [str(number) for number in numbers]
print(''.join(chars))

123

In [ ]:
# map

In [249]:
chars = list(map(str, numbers))
print(''.join(chars))

123

In [250]:
''.join(map(str, numbers))

'123'

In [252]:
numbers = ['1', '2', '3']

# 위의 코드를 숫자 '123'으로 만드세요

In [253]:
# list comprehension

In [254]:
int(''.join(numbers))

123

In [ ]:
# map

In [ ]:
# 안해도 됨

첫번째 인자 function은 사용자 정의 함수도 가능합니다.

In [255]:
# 세제곱의 결과를 나타내는 함수
def cube(n):
    return n**3

In [257]:
numbers = range(1,11)

list(map(cube, numbers))

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

## `zip(*iterables)` 

* 복수의 iterable 객체를 모아준다.


* 결과는 튜플의 모음으로 구성된 `zip object` 를 반환한다.

In [265]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']
men = ['charlie', 'john', 'eric']
women = ['ashley','alice', 'christine']

In [266]:
list(zip(girls, boys, men, women))

[('jane', 'justin', 'charlie', 'ashley'),
 ('iu', 'david', 'john', 'alice'),
 ('mary', 'kim', 'eric', 'christine')]

In [ ]:
# 한 명씩 순서대로 매칭시켜봅시다.
# 예) {'jane': 'justin', 'iu': 'david', 'mary': 'kim'}

In [ ]:
# dictionary comprehension

In [ ]:
# zip

In [ ]:
# 다른 예시도 알아봅시다.

In [269]:
a = '123'
b = '567'

sum0 = 0
for digit_a, digit_b in zip(a,b):
    sum0 += int(digit_a + digit_b)
print(sum0)

78

* zip은 반드시 길이가 같을 때 사용해야한다. 다르다면 가장 짧은 것을 기준으로 구성한다.

In [270]:
num1 = [1,2,3]
num2 = ['1','2']
list(zip(num1,num2))

[(1, '1'), (2, '2')]

* 길이가 긴 것을 맞춰서 할 수도 있지만, 사용할 일이 없다

In [271]:
from itertools import zip_longest

list(zip_longest(num1, num2, fillvalue=0))

[(1, '1'), (2, '2'), (3, 0)]

## `filter(function, iterable)`

* iterable에서 function의 반환된 결과가 `True` 인 것들만 구성하여 반환한다.


* `filter object` 를 반환한다.

In [ ]:
# 홀수인지 판단하는 코드를 작성하세요.

In [276]:
def odd(n):
    return n % 2

numbers = [1, 2, 3]
list(filter(odd,numbers))

[1, 3]

In [277]:
# 다음의 list comprehension과 동일하다.

In [278]:
[n for n in numbers if odd(n)]

[1, 3]